<div class="pipeline clearfix" id="pipeline_<%= pipeline.id %>">
  <div class="number">
    <%= link_to (pipeline.project.pipelines.index(pipeline)+1).to_s, [pipeline.project, pipeline] %>:
  </div>

  <% pipeline.tasks.each do |task| %>
    <%= render :partial => 'task', :object => task %>
  
    <% unless task == pipeline.tasks.last %>
      <div class="next-image">&nbsp;</div>
    <% end %>
  <% end  %>
</div>