<div class="project clearfix" id="project_<%= project.id%>">
  <div class="title">
    <%= link_to project.name, project_path(project) %>
  </div>
  <%= render :partial => 'pipeline', :collection => project.pipelines %>
</div>