<% if @task_type.data[:log] %>
  <% @task_type.data[:log][-5..-1].reverse.each do |revision| %>
    <div>
      <strong>
        <%= revision.number %>:
      </strong>
      <%= revision.message %>
    </div>
  <% end %>
<% else %>
  No revision data
<% end %>