<% @task.task_type_class.attributes.each do |attribute| %>
  <div class="field <%= 'required' if attribute[:required] %>">
    <label><%= attribute[:name].to_s.titleize %></label>
    <%= attribute_field(attribute) %>
  </div>
<% end if @task.task_type_class && @task.task_type_class.respond_to?(:attributes) %>