html, body, #doc3 {
    margin: 0;
    padding: 0;
}

#hd {
    height: 25px;
    border-bottom: 3px solid black;
    padding: 15px 0px 10px 10px;

    background: transparent url('../images/therm.gif') bottom right no-repeat;
}

#hd h1 {
    font-size: 250%;
}

#nav {
    background: #eeeeee;
    font-size: 110%;
    font-weight: bold;
}

#nav li {
    background: #f5f5f5;
    padding: 5px;
    float: left;
    margin: 0px 2px 0px 0px;
}

#content {
    padding: 10px;
}

.next-image {
    display: block;
    float: left;
    height: 150px;
    width: 32px;
    background: transparent url(../images/go-next.png) center center no-repeat;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dashboard .project {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    display: block;
    clear: both;
}

.dashboard .project .title {
    font-size: 150%;
    font-weight: bold;
}

.dashboard .project .pipeline {
    margin: 10px;
    padding: 10px;
    background: #f5f5f5;
}

.pipeline .number {
    float: left;
    font-size: 200%;
}

.pipeline .task {
    float: left;
    height: 150px;
    width: 150px;
    background: #cecece;
    border: 1px solid #333333;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
}

.dashboard .task .title {
    font-size: 100%;
    font-weight: normal;
    height: 20px;
    overflow: hidden;
    background: #dedede;
    text-align: center;
}