<h1>Editing pipeline</h1>

<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', resource_path %> |
<%= link_to 'Back', resources_path %>
