<ul>
  <% @pipeline.tasks.each do |task| %>
    <li><%= link_to task.name, [@project, @pipeline, task] %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_pipeline_path(@project, @pipeline) %> |
<%= link_to 'Back', project_pipelines_path(@project) %>

<%= link_to 'New Task', new_project_pipeline_task_path(@project, @pipeline) %>